<body onload="test_dat()">
  <script src="https://tiago.org/dat_detector/lib/index.js"></script>

  <p>Am I a dat-enabled browser? <span id="answer"></span></p>
<script>
const test_dat = () => {
  const answer = has_dat() ? "yes" : "no"
  document.getElementById("answer").innerHTML = answer
}
</script>
